/* tooltip */
.MuiTooltip-tooltip {
    font-family: "IranYekan" !important;
    font-weight: 300 !important;
    text-align: center !important;
}

/* tabs */
.MuiTabs-indicator {
    background-color: var(--color-accent-primary) !important;
    color: var(--color-accent-primary) !important;
}

.MuiTab-root.Mui-selected {
    color: var(--color-accent-primary) !important;
}

.MuiTab-root {
    font-family: "IranYekan" !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

/* button */
// .MuiButton-root {
//     direction: ltr !important;
// }

/* grids */
.MuiTableCell-head {
    background-color: var(--color-cell-bg) !important;
}

.Mui-TableHeadCell-Content {
    align-items: center !important;
    justify-content: space-between !important;
}

.Mui-TableHeadCell-Content-Actions {
    margin-right: auto !important;
}

.Mui-TableHeadCell-Content-Labels {
    padding-left: 0 !important;
    margin-right: auto !important;
}

.Mui-TableHeadCell-Content-Wrapper {
    color: var(--color-cell-header) !important;
}
